body { 
    margin: 0px; 
    overscroll-behavior: none;
    padding: 0;
}

#navi{
    background: #F1E0D9;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

.navi-item{
    font-family: "Inika";
    color: #5A5353;
    font-size: 17px;
}

.navi-item:hover{
    text-decoration: underline;
    cursor: pointer;
}

#pan1{
    width: 100%;
    height: 740px;
    background: url('img/pan1_img.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    background: #EAE3E3;
    width: 50%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px #EAE3E3;
    animation-name: changeBorders;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes changeBorders {
    0% {
        border-right: solid 5px rgba(255, 169, 169, 0.731);
    }
    25% {
        border-top: solid 5px rgba(218, 176, 255, 0.731);
    }
    50% {
        border-left: solid 5px rgba(251, 214, 156, 0.731);
    }
    75% {
        border-bottom: solid 5px rgba(177, 230, 255, 0.731);
    }
  }

#title-text{
    font-family: "Jua";
    color: #313030;
    font-size: 60px;
}

#pan2{
    background: #DAC8C6;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#about{
    font-family: "Autour One";
    color: #574B4B;
    font-size: 32px;
}

#descript{
    font-family: "Avenir Next Condensed";
    color: #574B4B;
    text-align: center;
    font-size: 25px;
}

#pan3{
    background: #ADB9C7;
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#variety{
    font-family: "Belgrano";
    color: #574B4B;
    font-size: 40px;
}


#underline{
    background: #81868F;
    width: 70%;
    height: 5px;
}

#pan4{
    background: #ADB9C7;
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#cakes{
    background: #D7DCDE;
    width: 18vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#cake-cont{
    width: 10vw;
    height: 10vw;
    background:url('img/cake_img.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#cookies{
    background: #D7DCDE;
    width: 18vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#cookie-cont{
    width: 10vw;
    height: 10vw;
    background:url('img/cookie_img.png');
    background-size: 90%;
    background-repeat: no-repeat;
}

#pies{
    background: #D7DCDE;
    width: 18vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#pie-cont{
    width: 10vw;
    height: 10vw;
    background:url('img/pie_img.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.category-text{
    font-family: "Autour One";
    color: #2B2C2C;
    font-size: 20px;
}

.category-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

#pan5{
    background: #E7D0C7;
    width: 100%;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#favorite-title{
    font-family: "Belgrano";
    font-size: 40px;
}

#favorite-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

#underline2{
    background: #BFB2B0;
    width: 45%;
    height: 5px;
}

#pan6{
    background:  #E7D0C7;
    width: 100%;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#fav-descript{
    font-family: "Avenir Next Condensed";
    color: #574B4B;
    font-size: 20px;
}

#fav-pic{
    width: 30vw;
    height: 18vw;
    background:url('img/banana_split.jpeg');
    background-size: cover;
}
